.navbar-custom {
    background-color: rgba(137,17,76,0.9);
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text{
    color: rgba(241,135,187, 0.8);
}

.navbar-custom .navbar-nav .nav-link {
    color: rgba(241,135,187, 0.8);
}

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}
