     body {
        background-color: rgb(216, 195, 147);
    }
    h1 {
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        font-size: xx-large
    }
    h2 {
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        font-size: medium
        
    }
    img {
        border-radius: 10px;
      }
      .image-container {
        display: flex; 
        grid-template-columns: 1fr 1fr; 
        gap: 60px; 
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70vh;
        padding-top: 20px;
      }
      .image-container img {
        opacity: 0.7; 
        transition: opacity 0.3s, transform 0.3s, box-shadow 0.3s;
      }
      
      .image-container img:hover {
        opacity: 1;
        transform: scale(1.1);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    }
    .kuvateksti {
        text-align: center;
    }
    .kuvateksti a {
        color: black;
    }
    header {
        background-color: #503321; 
        color: #ddcead; 
        padding: 10px; 
        display: flex;
        align-items: center;
        border-radius: 10px;  
    }
      .logo img {
        width: 190px; 
        height: 190px; 
      }